<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Shopping basket</title>
</h:head>
<h:body>
	<h:form>
		<h:outputText value="Shoppingbasket(#{shopBean.shoppingBasket.size})" />
		<h:dataTable id="productTable" var="entry"
			value="#{shopBean.shoppingBasket.products}">
			<h:column>
				<h:panelGrid>
					<h:outputText value="#{entry.key.name}" />
						<h:outputText value="#{entry.value} x #{entry.key.price} = #{entry.key.getTotalPrice(entry.value)}"/>
					<h:commandLink value="Remove"
						action="#{shopBean.shoppingBasket.removeProduct(entry.key)}" />
				</h:panelGrid>
			</h:column>
		</h:dataTable>
		<h:outputLink value="shop.xhtml">
			<h:outputText value="continue shopping" />
		</h:outputLink>
		<br></br>
		<h:outputLink value="checkout.xhtml">
			<h:outputText value="checkout $ #{shopBean.shoppingBasket.orderTotal}" />
		</h:outputLink>
	</h:form>
</h:body>
</html>