<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Webshop</title>
</h:head>
<h:body>
	<h:form>
		<h:outputLink value="basket.xhtml">
			<h:outputText value="Shoppingbasket(#{shopBean.shoppingBasket.size} | $ #{shopBean.shoppingBasket.orderTotal})" />
		</h:outputLink>
		<h:dataTable id="productTable" var="product"
			value="#{shopBean.list()}">
			<h:column>
				<h:panelGrid rendered="#{not empty product.name}">
					<h:outputText value="#{product.name}" />
					<h:outputText value="#{product.price}" />
					<h:commandLink value="Add to shopping basket"
						action="#{shopBean.shoppingBasket.addProduct(product)}" />
				</h:panelGrid>
			</h:column>
		</h:dataTable>
	</h:form>
</h:body>
</html>